<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <a href="/">Home</a>
  <a href="http://www.youtube.com">Youtube</a>

  <h3><%= verse %></h3>

  <img src="<%= image %>" alt="photos" height="300" width="400">
  <br>
  <a href="<%= next %>">Next >></a>

  </body>
</html>
